[user]
pinned=thunar.desktop;pluma.desktop;xfce4-terminal.desktop;librewolf.desktop;start-zeronet.desktop;telegramdesktop.desktop;signal-desktop.desktop;session-desktop.desktop;org.gajim.Gajim.desktop;electrum.desktop;electron-cash.desktop;monero-gui.desktop;feather.desktop;veracrypt.desktop;

indicatorStyle=1
forceIconSize=false
iconSize=32
