[user]
pinned=/usr/share/applications/thunar.desktop;/usr/share/applications/pluma.desktop;/usr/share/applications/xfce4-terminal.desktop;/usr/share/applications/librewolf.desktop;/usr/share/applications/start-zeronet.desktop;/usr/share/applications/telegramdesktop.desktop;/usr/share/applications/signal-desktop.desktop;/usr/share/applications/session-desktop.desktop;/usr/share/applications/org.gajim.Gajim.desktop;/usr/share/applications/electrum.desktop;/usr/share/applications/electron-cash.desktop;/usr/share/applications/monero-gui.desktop;/usr/share/applications/feather.desktop;/usr/share/applications/veracrypt.desktop;

indicatorStyle=1
forceIconSize=false
iconSize=32
