[Desktop Entry]
Encoding=UTF-8
Version=0.9.4
Type=Application
Name=Fcitx Setup 
Comment=Fcitx Setup
Exec=/usr/bin/fcitxsetup-uhuru
OnlyShowIn=XFCE;
StartupNotify=false
Terminal=false
Hidden=false
