[user]
pinned=firefox.desktop;thunar.desktop;pluma.desktop;xfce4-screenshooter.desktop;xfce4-terminal.desktop;xfce-settings-manager.desktop;virtualbox.desktop;
indicatorStyle=1
forceIconSize=false
iconSize=32
